html{
    background-color: slategray;
}
#headerBox{
    background-color: forestgreen;

}

#menuCard{
    background-color: pink;
    height: 100px;
    /* width: 100px; */
    border: solid 1px black;
    margin: 1rem;
}

#card {
    background-color: slategray;
}

#address{
    text-align: left;
}
#time{
    text-align: right;
}
#foot{
    background-color: forestgreen;

    /* position: relative;
    bottom: 0; */
}
#friedFries {
    border: black 1px solid;
    background-color: lightcoral;
    margin-top: 1rem;
}

#footer{
    height: 10vh;
}
#bodies{
    height: 80vh;
}
#heads{
    height: 10vh;
}